<ion-view view-title="Today's Menu">

<ion-content>
<!--   <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->

  <ion-list>
    <div ng-repeat="day in weekDays | filter: todayDay">
      <ion-item class="item-stable">
        {{day}}
      </ion-item>

        <ion-item class="item-accordion item-text-wrap" ng-repeat="item in weekOutlets">
          <strong>{{item.outlet_name}}</strong>
           <ul class="bullet" ng-repeat="menuDay in item.menu | filter:{'day':  day}:true">

           <li class="bullet-header"><i class="icon ion-spoon"></i> Lunch</li>
            <ul class="sub-bullet" ng-repeat="lunch in menuDay.meals.lunch">
              <li>{{lunch.product_name}}</li>
            </ul>
            <li class="bullet-header"><i class="icon ion-spoon"></i> Dinner</li>
            <ul class="sub-bullet" ng-repeat="dinner in menuDay.meals.dinner">
              <li>{{dinner.product_name}}</li>
            </ul>

          </ul>
        </ion-item>

    </div>
  </ion-list>

</ion-content>

</ion-view>